.esqcima{
    background-color: #781c78;
    height: 250px;
    width: 250px;
    display: block;
    float: left;
    margin-bottom: 500px;
    text-align: center;
  }
  .dircima{
    background-color: red;
    height: 250px;
    width: 250px;
    display: block;
     float: right;
    text-align: center;
  }
  .esqbaixo{
    background-color: blue;
    height: 250px;
    width: 250px;
    display: block;
    float: left;
    clear: left;
    text-align: center;
  }
  
  .dirbaixo{
    background-color: #00b800;
    height: 250px;
    width: 250px;
    display: block;
    float: right;
    clear: right;
    text-align: center;
  }