.formulario{
    display: flex;
}

.linhas,
.linhas-dos-buttons{
    height: 45px;
}

.colunas{
    width: 250px;
}

.text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color:slategray;
}

.matriculaAluno,
.nomeAluno,
.emailAluno{
    height: 30px;
    width: 75px;
    font-size: 14px;
    color: black;
}

.buttons{
    border: 1px solid purple;
    cursor: pointer;
    color: black;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 14px;
}